{{extend './layout/layout.html'}}

{{block 'body'}}
<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ isLogin ? 'Sign in' : 'Sign up' }}</h1>
        <p class="text-xs-center">
          <a href="">Have an account?</a>
        </p>

        {{ if errors }}
        <ul class="error-messages">
          {{ each errors }}
          <li>{{ $value }}</li>
          {{ /each }}
        </ul>
        {{ /if }}

        <!-- 
          传统的 Web 应用中表单提交有两种方式：
            同步提交
              Content-Type: application/x-www-form-urlencoded
            异步提交
         -->
        <form action="/register" method="POST">
          {{if !isLogin }}
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Your Name" name="username">
          </fieldset>
          {{/if}}
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Email" name="email">
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="password" placeholder="Password" name="password">
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right">
            {{ isLogin ? 'Sign in' : 'Sign up' }}
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
{{/block}}
