<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <!-- Add "active" class when you're on that page" -->
        <a class="nav-link active" href="/">Home</a>
      </li>
      {{ if sessionUser }}
      <li class="nav-item">
        <a class="nav-link" href="/editor">
          <i class="ion-compose"></i>&nbsp;New Post
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/foo">
          <img class="user-pic" src="{{ sessionUser.image || '/public/img/avatar.jpg' }}">
          {{ sessionUser.username }}
        </a>
      </li>
      {{ else }}
      <li class="nav-item">
        <a class="nav-link" href="/register">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign in</a>
      </li>
      {{ /if }}
    </ul>
  </div>
</nav>
